<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcits.comet.flow.model.FlowInfoPo">
	<resultMap id="BaseResultMap" type="com.dcits.comet.flow.model.FlowInfoPo" >
        <result column="flow_id" property="flowId"  jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime"  jdbcType="VARCHAR"/>
        <result column="flow_class_name" property="flowClassName"  jdbcType="VARCHAR"/>
        <result column="end_time" property="endTime"  jdbcType="VARCHAR"/>
        <result column="flow_status" property="flowStatus"  jdbcType="INTEGER"/>
        <result column="flow_in" property="flowIn"  jdbcType="VARCHAR"/>
        <result column="flow_out" property="flowOut"  jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Table_Name">
        FLOW_INFO
    </sql>

    <sql id="Base_Column">
        flow_id,
        flow_class_name,
        start_time,
        end_time,
        flow_status,
        flow_in,
        flow_out
    </sql>

    <sql id="Base_Where">
        <trim suffixOverrides="AND">
            <if test="flowId != null and flowId != '' ">
                flow_id = #{flowId}  AND
            </if>
            <if test="flowClassName != null and flowClassName != '' ">
                flow_class_name = #{flowClassName}  AND
            </if>
            <if test="startTime != null and startTime != '' ">
                start_time = #{startTime}  AND
            </if>
            <if test="endTime != null and endTime != '' ">
                end_time = #{endTime}  AND
            </if>
            <if test="flowStatus != null and flowStatus != '' ">
                flow_status = #{flowStatus}  AND
            </if>
            <if test="flowIn != null and flowIn != '' ">
                flow_in = #{flowIn}  AND
            </if>
            <if test="flowOut != null and flowOut != '' ">
                flow_out = #{flowOut}  AND
            </if>
        </trim>
    </sql>



    <sql id="Base_Select">
        SELECT
        <include refid="Base_Column" />
        FROM
        <include refid="Table_Name" />
        <where>
            <include refid="Base_Where" />
        </where>
    </sql>

    <insert id="insert" >
        insert into
        <include refid="Table_Name" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flowId != null ">
                flow_id,
            </if>
            <if test="flowClassName != null ">
                flow_class_name,
            </if>
            <if test="startTime != null ">
                start_time,
            </if>
            <if test="endTime != null ">
                end_time,
            </if>
            <if test="flowStatus != null ">
                flow_status,
            </if>
            <if test="flowIn != null ">
                flow_in,
            </if>
            <if test="flowOut != null ">
                flow_out,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flowId != null ">
                #{flowId},
            </if>
            <if test="flowClassName != null ">
                #{flowClassName},
            </if>
            <if test="startTime != null ">
                #{startTime},
            </if>
            <if test="endTime != null ">
                #{endTime},
            </if>
            <if test="flowStatus != null ">
                #{flowStatus},
            </if>
            <if test="flowIn != null ">
                #{flowIn},
            </if>
            <if test="flowOut != null ">
                #{flowOut},
            </if>
        </trim>
    </insert>

    <update id="update"  >
        UPDATE <include refid="Table_Name" />
        <set>
            <if test="flowClassName != null and flowClassName != '' ">
                flow_class_name = #{flowClassName},
            </if>
            <if test="startTime != null and startTime != ''">
                start_time = #{startTime},
            </if>
            <if test="endTime != null and endTime != ''">
                end_time = #{endTime},
            </if>
            <if test="flowStatus != null and flowStatus != ''">
                flow_status = #{flowStatus},
            </if>
            <if test="flowIn != null and flowIn != ''">
                flow_in = #{flowIn},
            </if>
            <if test="flowOut != null and flowOut != ''">
                flow_out = #{flowOut},
            </if>
        </set>
        <where>
            <trim suffixOverrides="AND">
                flow_id = #{flowId}  AND
            </trim>
        </where>
    </update>

    <update id="updateByEntity" >
        UPDATE
        <include refid="Table_Name" />
        <set>
            <if test="s.flowId != null ">
                flow_id = #{s.flowId},
            </if>
            <if test="s.flowClassName != null ">
                flow_class_name = #{s.flowClassName},
            </if>
            <if test="s.startTime != null ">
                start_time = #{s.startTime},
            </if>
            <if test="s.endTime != null ">
                end_time = #{s.endTime},
            </if>
            <if test="s.flowStatus != null ">
                flow_status = #{s.flowStatus},
            </if>
            <if test="s.flowIn != null ">
                flow_in = #{s.flowIn},
            </if>
            <if test="s.flowOut != null ">
                flow_out = #{s.flowOut},
            </if>
        </set>
        <where>
            <trim prefix="(" suffix=")" suffixOverrides="AND">
                <if test="w.flowId != null ">
                    flow_id = #{w.flowId}
                    AND
                </if>
                <if test="w.flowClassName != null ">
                    flow_class_name = #{w.flowClassName}
                    AND
                </if>
                <if test="w.startTime != null ">
                    start_time = #{w.startTime}
                    AND
                </if>
                <if test="w.endTime != null ">
                    end_time = #{w.endTime}
                    AND
                </if>
                <if test="w.flowStatus != null ">
                    flow_status = #{w.flowStatus}
                    AND
                </if>
                <if test="w.flowIn != null ">
                    flow_in = #{w.flowIn}
                    AND
                </if>
                <if test="w.flowOut != null ">
                    flow_out = #{w.flowOut}
                    AND
                </if>
            </trim>
        </where>
    </update>
    <delete id="delete" >
        DELETE FROM
        <include refid="Table_Name" />
        <where>
            <include refid="Base_Where" />
        </where>
    </delete>

    <select id="count" parameterType="java.util.Map" resultType="int">
        select count(1) from
        <include refid="Table_Name" />
        <where>
            <include refid="Base_Where" />
        </where>
    </select>

    <select id="selectOne"  resultMap="BaseResultMap">
        <include refid="Base_Select" />
    </select>

    <select id="selectList"  resultMap="BaseResultMap">
        <include refid="Base_Select" />
    </select>

    <select id="selectForUpdate" resultMap="BaseResultMap" useCache="false">
        <include refid="Base_Select" />
        for update
    </select>


    <!--根据主键查询-->
    <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column" />
        FROM
        <include refid="Table_Name" />
        <where>
            <trim suffixOverrides="AND">
                flow_id = #{flowId}  AND
            </trim>
        </where>
    </select>


    <!--根据主键删除-->
    <delete id="deleteByPrimaryKey">
        DELETE FROM <include refid="Table_Name" />
        <where>
            <trim suffixOverrides="AND">
                flow_id = #{flowId}  AND
            </trim>
        </where>
    </delete>
</mapper>